/* Base: Base Styling
============================================================================ */

html,
body,
#main,
#app,
.full,
.content,
.container,
.page-transition {
    min-height: 100%;
}

.container {
    box-shadow: 0 10px 60px rgba(#000, 0.2);
}

body {
    overflow-x: hidden;
}

button {
    background: none;
    border: none;
    padding: 0;
}

