.menu_wrapper {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu_expander {

    width: 50px;
    height: 50px;

    position: relative;
    transform: translate3d(-10px, 10px, 0);

    box-shadow: 0 2px 4px rgba(#000, 0.2);
    border-radius: 50px;
    overflow: hidden;

    background: #fff;
}

.menu {
    visibility: hidden;
    // opacity: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    transform: translateY(0);
    // background: #fff;
    // z-index: 13;
    // transform: translate3d(-100%, 0, 0);
    // visibility: hidden; 

    // &.is-open {
    //     visibility: visible;
    //     animation-name: slideIn;
    //     animation-duration: 0.3s;
    //     animation-timing-function: ease-in-out;
    //     animation-delay: 0s;
    //     animation-iteration-count: 1;
    //     animation-fill-mode: both;
    // }

    // &.is-closed {
    //     visibility: visible;
    //     pointer-events: none;
    //     animation-name: slideOut;
    //     animation-duration: 0.3s;
    //     animation-timing-function: ease-in-out;
    //     animation-delay: 0s;
    //     animation-iteration-count: 1;
    //     animation-fill-mode: both;
    // }

    // &_heading {
    //     text-align: center;
    //     display: block;
    //     padding: 3rem 1rem;

    //     &--first {
    //         font-weight: 300;
    //     }
    // }
}

.menu_hamburgerIcon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    
}

.menu_list-item {
    overflow: hidden;
}

.menu_list-link {
    display: block;
    font-size: 2rem;
    padding: 0.2em;
}